@font-face {
  font-family: "TwitterChirp";
  src: url("../../fonts/chirp-regular-web.woff") format("woff2"),
    url("../../fonts/chirp-bold-web.woff") format("woff"),
    url("../../fonts/chirp-heavy-web.woff") format("woff");
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  /* height: 100vh; */
  font-family: "TwitterChirp", "Segoe UI", Tahoma, "Geneva", Verdana, sans-serif;
}
/* first section */
.main {
  /* display: flex;
  justify-content: space-between;
  position: relative; */
  /* justify-content: stretch; */
  display: grid;
  grid-template-columns: repeat(9, 1fr);
}
.twitterlogo {
  width: 100%;
}
.twitter-logo {
  /* margin: 15px; */
  width: 50px;
}

h2 {
  display: inline;
  vertical-align: middle;
  font-size: 20px;
  font-weight: bold;
}

.first-div {
  position: sticky;
  top: 0;
  left: 0;
  height: 100vh;
  padding: 0 40px;
  grid-column: 1 / span 2;
  /* min-width: 25%; */
}

.second-div {
  max-width: 50vw;
  border-right: 1px solid #e6ecf0;
  border-left: 1px solid #e6ecf0;
  grid-column: 3 / 7;
  /* padding: 0 20px 0 20px;
  margin: 0 20px 0 20px; */
  min-width: 40%;
}

.third-div {
  position: sticky;
  top: 0;
  right: 0;
  height: 100vh;
  /* max-width: 30%; */
  grid-column: 7 / span 3;
}
.home-name {
  align-content: center;
}

.home-features {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 10px;
}

#twitter-widget-0 {
  max-width: 100% !important;
}

.home-features div h2 {
  margin-left: 0.2rem;
}
.home-features div {
  cursor: pointer;
  padding: 6px 10px;
  margin-top: 0.2rem;
}

.home-features div:hover {
  background-color: #e6ecf0;
  border-radius: 30px;
  color: #50b7f5;
}
span {
  vertical-align: middle;
}
.tweetbtn {
  margin-top: 30px;
  padding: 8px 41%;
  font-size: 1.4rem;
  background-color: #50b7f5;
  border: none;
  color: white;
  font-weight: bold;
  border-radius: 30px;
  /* height: 50px; */
  cursor: pointer;
  transition-duration: 0.2;
}
.tweetbtn:hover {
  background-color: rgba(29, 155, 240, 0.9);
}
.account img {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  /* border-radius: 20px; */
}
.account {
  margin-top: 50px;
  cursor: pointer;
  position: relative;
  /* width: 70%; */
  /* max-height: 30%; */
  /* margin-top: 50px; */
}
.account > .account {
  text-decoration: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 5px;
  width: 113%;
  border-radius: 19px;
  &:hover {
    background-color: #67696a43;
  }
  /* margin-left:10px ; */
}
.account-details {
  display: flex;
  flex-direction: column;
  /* flex-basis: 70%; */
  margin-left: 5px;
  font-size: 0.9rem;
  line-height: 20px;
}
.account-name {
  font-weight: 600;
  font-size: 15px;
  color: black;
}
.account-user {
  color: rgb(110, 118, 125);
}
.span-more {
  color: black;
}
/* .account:hover {
  background-color: #e6ecf0;
  border-radius: 30px;
} */
/* second section */

.main-home {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  z-index: 44;
  padding: 0 16px;
  height: 80px;
  top: 0;
  background-color: white;
  border-bottom: 1px solid #e6ecf0;
  background-color: rgba(255, 255, 255, 0.621);
  backdrop-filter: blur(5px);
}
.main-home h2 {
  margin-left: 0.6rem;
}
.main-home span {
  margin-right: 0.6rem;
}
.img-account {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  cursor: pointer;
}
.new-tweet {
  display: flex;
  height: 120px;
  padding: 4px 16px;
  margin-top: 20px;
  border-bottom: 1px solid #e6ecf0;
}
.new-tweet-details {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-top: 4px;
  margin-left: 12px;
  width: 100%;
}

#twitsLest {
  margin-top: 20px;
}
.new-tweet-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  width: 100%;
}
.new-tweet-actions ul {
  display: flex;
  list-style: none;
}
.new-tweet-details textarea {
  width: 84%;
  height: 68px;
  font-size: 1rem;
  border: none;
  outline: #999ea3 solid 1px;
  border-radius: 9px;
  padding: 10px;
  &:focus-visible {
    outline: #4995ca solid 2.3px;
  }
  &:hover {
    background-color: #c2e6f256;
  }
}

.new-tweet-actions ul li {
  margin-right: 5px;
  cursor: pointer;
  color: #50b7f5;
}
.tweetnewbtn {
  width: 75px;
  height: 35px;
  margin: 0;
  background-color: #76c4f4;
  color: white;
  font-weight: bold;
  border-radius: 30px;
  outline: none;
  border: none;
  cursor: pointer;
  &:hover {
    background-color: #4b9bcd;
  }
}
.post-img {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  cursor: pointer;
}
.posts {
  display: flex;
  min-height: 100px;
  padding-top: 100px;
  padding: 12px 16px 0 16px;
  border-bottom: 1px solid #e6ecf0;
  position: relative;
  /* margin-bottom: 20px;
    border-bottom:1px solid #e6ecf0; */
}
.feed-details {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-left: 12px;
}
.icons-twt span {
  color: #50b7f5;
  font-size: 1rem;
}
.tweeter-details {
  display: flex;
  justify-content: space-between;
}
.tweeter-details a {
  text-decoration: none;
}
.tweeter-name {
  font-size: 1rem;

  color: black;
}
.tweeter-username {
  font-size: 0.9rem;

  color: rgb(110, 118, 125);
}
sup {
  vertical-align: top;
}
.twt-txt {
  font-size: medium;
  font-weight: 500;
}
.icons-twt {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  padding-right: 50px;
}
.aside_input {
  position: sticky;
  display: flex;
  align-items: center;
  padding: 0 16px;
  height: 55px;
  top: 0;
  background-color: white;
}
.whatshappen {
  margin: 15px;
  padding: 20px;
  background-color: #f5f8fa;
  border-radius: 30px;
}
.aside_input {
  background-color: #e6ecf0;
  border-radius: 30px;
  padding: 15px;
  margin: 0 15px;
  display: flex;
  align-items: center;
}
.aside_input input {
  background-color: #e6ecf0;
  outline: none;
  border: none;
  width: 100%;
  padding: 5px;
  border-radius: 9px;
  border: none;
  /* outline: #999ea3 solid 1px; */
  border-radius: 9px;
  padding: 10px;
  &:focus-visible {
    outline: #4995ca solid 2.3px;
  }
}

#formsearch {
  width: 100%;
}

#replace-tweet {
  background-color: #ecebeb;
  padding: 15px;
  border-radius: 9px;

  & .undo-del-tweet {
    margin-left: 5px;
    cursor: pointer;
    color: #129bf1;
    background-color: #e3e3e3;
    padding: 5px;
    border-radius: 5px;
  }
}

#dropdown {
  z-index: 99;
  position: absolute;
  right: 0;
  top: 0;
  background-color: #d4d4d4;
  padding: 5px;
  border-radius: 9px;
  display: flex;
  flex-direction: column;
  /* gap: 8px; */
  & > div,
  a {
    display: flex;
    gap: 8px;
    cursor: pointer;
    padding: 5px;
    border-radius: 9px;
    color: #222;
    text-decoration: unset;
    &:hover {
      background-color: #b9b9b9;
    }
  }
}

.user-search {
  padding: 10px 7px;
  font-size: 1.2rem;
  border-radius: 9px;
  cursor: pointer;
  &:hover {
    background-color: #a6d6ee;
  }
}

.tweeter-details .span-more {
  cursor: pointer;
}
